	pushi 0
	pushi 0
	pushi 0
	pushi 0
	
start
	read
	atoi
	storeg 0
	read
	atoi
	storeg 1
	read
	atoi
	storeg 2
	read
	atoi
	storeg 3
	
//vamos verificar agora se todos os lados sao iguais
	
	pushg 0
	pushg 1
	equal
	pushg 0
	pushg 2
	equal
	mul
	pushg 0
	pushg 3
	equal
	mul
	jz ELSE1
	
	pushs "TRUE" 
	writes
	pushs "\n"
	writes
	jump ENDIFELSE1
	
ELSE1:
	
	pushs "FALSE" 
	writes
	pushs "\n"
	writes
	
	ENDIFELSE1:     
	
	
stop
	
