	pushi 0
	pushi 0
	pushi 1
	pushi 0
	pushi 0
	
start
	pushi 0
	pusha FpotenciaF
	call
	nop
	storeg 0
	
	pushs "RETORNOU"
	writes
	pushs "\n"
	writes
	pushg 0
	writei
	pushs "\n"
	writes
	
stop
FpotenciaF: nop
	read
	atoi
	storeg 3
	read
	atoi
	storeg 4
	pushg 4
	pushi 0
	equal
	jz ENDSimpleIF2
	
	
ENDSimpleIF2:       
	
For3:
	
	pushg 1
	pushg 4
	inf
	jz EndOfFor3
	
	pushg 2
	pushg 3
	mul
	storeg 2
	
	pushg 1
	pushi 1
	add
	storeg 1
	
	jump For3
	
EndOfFor3:
	pushg 2
	storel -1
	
	return
	
